//-------------------------------------------------------------------------
// Media queries
//-------------------------------------------------------------------------

// Desktop First Query
$breakpoints: ("phone-sm": 374px,
    "phone": 480px,
    "tablet-sm": 768px,
    "tablet": 1024px,
    "desktop": 1280px,
    "desktop-lg": 1920px);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==min {
            $width: $width + 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Custom Query Range
@mixin mqr($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// Device wise Query
@mixin phone {
    @media (min-width: 320px) and (max-width: 480px) {
        @content;
    }
}

@mixin tablet_sm {
    @media (min-width: 481px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        @content;
    }
}

@mixin tablet_lg {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) and (max-width: 1280px) {
        @content;
    }
}

@mixin desktop_lg {
    @media (min-width: 1281px) and (max-width: 1920px) {
        @content;
    }
}

@mixin desktop_xl {
    @media (min-width: 1921px) {
        @content;
    }
}

//-------------------------------------------------------------------------
// Font Size in rem
//-------------------------------------------------------------------------
@mixin font($size) {
    font-size: ($size / $base_font) * 1rem;
}


// range Slider 
// / ===============================
@mixin rangeThumb {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #BBBBBB;
    box-shadow: 0px 5px 20px rgba(#2D3136, .13);
    cursor: pointer;
    transform: translateY(-40%);
    border: 8px solid #fff;
}

@mixin rangeTrack {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: #F1F4F9;
}