/*--------------------------------------------------------------
#1.1 Theme Reset Style
--------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

// Sections
// ========================================================================== 


html,
body {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

//Vertical rhythm
// ==========================================================================

table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0;
}

// Lists (enumeration) ===============================================

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Lists (definition) =================================================== 

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

// Grouping content ========================================================== 
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid;
    margin: 0;
    clear: both;
}

// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.
pre {
    font-size: inherit;
}

address {
    font-style: inherit;
}

// 1. Remove the bottom border in Chrome 57-
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

// Add the correct font weight in Chrome, Edge, and Safari.

b,
strong {
    font-weight: bolder;
}

a {
    text-decoration: none;
    border: none;
    color: initial;

    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
    }
}

// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.

code,
kbd,
samp {
    font-size: inherit;
}

// Add the correct font size in all browsers.

small {
    font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
    top: -0.5em;
}

// Embedded content ============================================


img {
    border-style: none;
    vertical-align: bottom;
    width: auto;
    height: auto;
    max-width: 100%;
    width: 100%;
}

embed,
object,
iframe {
    border: 0;
    vertical-align: bottom;
}

// Forms ======================================

button,
input,
optgroup,
select,
textarea {
    vertical-align: middle;
    color: inherit;
    font: inherit;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: 0;

    &:focus {
        box-shadow: none;
        outline: none;
        background-color: initial;
    }
}

// Remove all Style fro select elements. Does not quite work cross-browser  ===============

// select {
//     -webkit-appearance: none;
//     appearance: none;
//     border-radius: 0;
// }

// Show the overflow in IE.
// 1. Show the overflow in Edge.

button,
input {
    overflow: visible;
}

input::placeholder {
    opacity: .5;
}

// Remove the inheritance of text transform

button,
select {
    /* 1 */
    text-transform: none;
    transition: .3s all ease-in-out;
}

// Correct the inability to style clickable types in iOS and Safari.

button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
    cursor: default;
}

// Remove the inner border and padding in Firefox.

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

// Restore the focus styles unset by the previous rule.

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

// Reset to invisible

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
// 3. Remove the padding so developers are not caught out when they zero out
//    `fieldset` elements in all browsers.


legend {
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
    vertical-align: baseline;
}

// Remove the default vertical scrollbar in IE 10+.

textarea {
    overflow: auto;
}


// 1. Add the correct box sizing in IE 10.
// 2. Remove the padding in IE 10.

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

// Correct the cursor style of increment and decrement buttons in Chrome.

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}


// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

//Remove the inner padding in Chrome and Safari on macOS.

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/**
    * Fix placeholder font properties inheritance.
    */

::-webkit-input-placeholder {
    font: inherit;
}

:-ms-input-placeholder {
    font: inherit;
}

::-ms-input-placeholder {
    font: inherit;
}

::placeholder {
    font: inherit;
}

/**
    * Clickable labels
    */

label[for] {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

/* Interactive
      ========================================================================== */

/*
    * Add the correct display in Edge, IE 10+, and Firefox.
    */

details {
    display: block;
}

/*
    * Add the correct display in all browsers.
    */

summary {
    display: list-item;
}

/* Table
      ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
}

td,
th {
    vertical-align: top;
}

th {
    text-align: left;
    font-weight: bold;
}

/* Misc
      ========================================================================== */

/**
    * Add the correct display in IE 10+.
    */

template {
    display: none;
}

/**
    * Add the correct display in IE 10.
    */

[hidden] {
    display: none;
}

button:focus,
button:active,
button:hover {
    outline: none;
    border: none;
    background-color: transparent;
    color: inherit;
}