// color
$white: #ffffff;
$dark: #31353e;
$black: #000000;

// Theme Colors
$primary: #3F56A1;

$error: #C54338;

$text_color: #242528;
$text_light: #92A0B7;
$text_error: #C54338;

$primary_btn: #3F56A1;
$secondary_btn: #3DD598;

$input_bg: #F8FAFD;
$placeholder: #92A0B7;

$border: #1B1C1E;
$border_light: #F0F4F8;