{% macro active(activePage='home') %}
<nav>
  <a href="#" class="{%if activePage == 'home' %} active {% endif %}">Home</a>
  <a href="#" class="{%if activePage == 'about' %} active {% endif %}">About</a>
</nav>
{% endmacro %}